<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>

</head>
<body>
    <div class="w-1/2 mx-auto mt-10 mb-10">
        <div>
            {% if messages %}
                {% for message in messages %}
                    <div class="px-2 py-1 text-white {% if message.tags == 'success' %}bg-gray-500{% endif %}">{{message}}</div>
                {% endfor %}
            {% endif %}
        </div>
        <form method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
            {{ task_form }}
            {{ task_detail_form }}
            <button type="submit" class="bg-rose-600 p-2 text-white rounded-lg mt-4">Submit</button>
        </form>
    </div>
</body>
</html>